* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(46, 45, 45);
    color: rgb(223, 219, 219);



}

/* arrow down*/
div.header-mw i.fa-arrow-circle-down {

    color: beige;
    top: calc(50% - 3rem);
    left: 50%;
    font-size: 3rem;
    animation: arrow 2s infinite;
}

/*end - arrow down*/


/*back to nav*/
#top {
    display: inline-block;
    font-size: 3rem;
    color: rgb(148, 156, 98);
    bottom: 30px;
    right: 20px;
    position: fixed;
    z-index: 99;
    opacity: 0;
    transition: 1s;

}

#top.show {
    opacity: 1;
}

/* end-back to nav*/

a {
    color: rgb(223, 219, 219);


}

a:hover {
    text-decoration: none;
    color: rgb(197, 197, 185);

}


h1 {
    font-family: 'Quicksand', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'News Cycle', sans-serif;
}

p {
    font-family: 'Sintony', sans-serif;
}

/* nav*/

.circle {
    width: 20vh;
    height: 20vh;
}

.zero {
    background-color: rgb(230, 231, 235);

}



.one {
    background-color: rgb(175, 238, 111);
}

.one:hover {
    background-color: rgb(143, 190, 95);

}

.two {
    background-color: rgb(186, 128, 240);
}

.two:hover {
    background-color: rgb(154, 106, 199);
}

.three {
    background-color: chocolate;
}

.three:hover {
    background-color: rgb(175, 87, 24);
}

.four {
    background-color: rgb(241, 155, 169);

}

.four:hover {
    background-color: rgb(199, 124, 136);
}

.five {
    background-color: tomato;

}

.five:hover {
    background-color: rgb(199, 78, 57);
}

.six {
    background-color: rgb(246, 200, 127);
}

.six:hover {
    background-color: rgb(211, 171, 107);
}

.seven {
    background-color: rgb(195, 195, 115);
}

.seven:hover {
    background-color: rgb(170, 170, 103);
}

.eight {
    background-color: rgb(136, 230, 220);
}

.eight:hover {
    background-color: rgb(117, 200, 192);
}

.fab,
.fas {
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

/* Footer font awesome*/
div.nine i.fab,
div.nine i.fas {
    font-size: 1.4rem;
}

/* arrow down -animation*/
@keyframes arrow {
    0% {
        margin-top: 0;
    }

    20% {
        margin-top: 0;

    }

    40% {
        margin-top: 2%;
    }

    60% {
        margin-top: 2%;
    }

    80% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

/* end - arrow down -animation*/






/*courses font awesome*/



div.course .fa-github,
.fa-html5,
.fa-css3,
.fa-js-square,
.fa-git-alt,
.fa-bootstrap,
.fa-plane,
.fa-check-circle,
.fa-check-circle {
    font-size: 5rem;
    color: rgb(98, 98, 98);
    text-shadow: 2px 2px 5px black;
}



/* Social media*/

#jumbo {
    background-image: url('image/github.jpg');
    /*Obraz Andrian Valeanu z Pixabay   */
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotwo {
    background-image: url('image/linkedin.jpg');
    /*Obraz Pete Linforth z Pixabay */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Experience*/
#jumbothree {
    background-image: url('image/biology.jpg');
    /* Photo by Rodolfo Clix from Pexels*/
    background-size: cover;
    background-position: center;

}






@media(max-width:1000px) {



    div.course .fa-github,
    .fa-html5,
    .fa-css3,
    .fa-js-square,
    .fa-git-alt,
    .fa-bootstrap,
    .fa-plane,
    .fa-check-circle,
    .fa-check-circle {
        font-size: 3rem;
        text-shadow: 1px 1px 3px black;
    }

    #top {

        font-size: 2rem;
    }

}